<p>{{title}}</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Projeto</th>
                <th scope="col">Início</th>
                <th scope="col">Término</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of dados; let i=index">
                <th scope="row">1</th>
                <td>{{ d.projeto }}</td>
                <td>Otto</td>
                <td>mdo</td>
        </tbody>
    </table>